/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0px 0px 0px;
  background-color: #000;
}

@media (min-width: 576px) {
.col-sm-3 {
    flex: 0 0 auto;
    width: 700px;
  }
  .iframe {
    width: 700px;
  }
  .container {
    width: 700px;
  }
}

@media (min-width: 768px) {
.col-md-6 {
    flex: 0 0 auto;
    width: 900px;
  }
  .iframe {
    width: 900px;
  }
  .container {
    width: 900px;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .iframe {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}